.tilt-card {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  cursor: grab;

  flex-shrink: 0;
  width: 315px;
  height: 436px;
  border-radius: 16px;
  overflow: hidden;
  background: #222;
  cursor: pointer;
  will-change: transform;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  position: relative;
  --pointer-x: 50%;
  --pointer-y: 50%;
  --pointer-from-left: 0.5;
  --pointer-from-top: 0.5;
  --pointer-from-center: 0;
  --background-x: 50%;
  --background-y: 50%;
  --card-opacity: 1;
  --card-glow: hsl(175, 100%, 90%);
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
}

.tilt-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.tilt-glare {
  position: absolute;
  inset: 0;
  z-index: 3;
  transform: translateZ(1.41px);
  overflow: hidden;
  pointer-events: none;
  background-image: radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 100%, 0.8) 10%,
      hsla(0, 0%, 100%, 0.65) 20%,
      hsla(0, 0%, 0%, 0.5) 90%);
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 0.2s ease;
  /* GPU 가속 최적화 */
  will-change: background-image, opacity;
  backface-visibility: hidden;
}

.tilt-card.is-active .tilt-glare {
  opacity: 1;
}